[user]
	name = Benjamin Bachhuber
	email = benbachhuber@gmail.com

[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  last = cat-file commit HEAD
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
  editor = vim
  excludesfile = $HOME/.gitignore_global
	autocrlf = input

[color]
  ui = auto

[merge]
  ff = no
	tool = vimdiff
	conflictstyle = diff3

[apply]
  whitespace = nowarn
[mergetool]
	keepBackup = false

[push]
	default = simple
[diff]
	tool = =
